<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <header>
        User : XYZ from ABC Company
    </header>
    <h1>
        User needed data
    </h1>
    <% if (users.length>0) { %>
     <% for( let i = 0; i < users.length; i++ ) { %>
     <h1><%= users[i]?.name %></h1>
     <% } %>
    <% } else{%>
        <h1>NO NAMES AT</h1>
        <%}%>
    <!-- <script src="noraml.js"></script> -->
</body>
</html>